@import './base.css';

@import 'tailwindcss';
@plugin "daisyui";

#app {
  place-items: center;
  width: 100%;
  font-weight: normal;
}

body {
  display: flex;
  padding: 1rem;
  background-color: white;
}
